* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004e92;
    flex-flow: wrap;
}

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    border: 2px solid rgba(255, 255, 255, 0.40);
    padding: 10px;
    border-radius: 5px;
}

.calculadora h2 {
    color: #ff9500;
}

#resultado {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    width: 250px;
    background-color: #fff;
    overflow: hidden;
    font-size: 22px;
    padding: 0 10px;
    margin: 10px 0 5px 0;
}

.button {
    height: 65px;
    width: 65px;
    font-size: 24px;
    border: none;
    font-weight: 600;
}

.button:hover {
    background-color: #ff9500;
    color: #fff;
}

.bt-rowspan {
    height: 132px;
}

.historico-calculo, .historico-calculo-externo {
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    height: 340px;
    width: 270px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #000;
}

.titulo-historico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.titulo-historico section {
    display: flex;
    align-items: center;
}

#x {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

#x:hover {
    background-color: #ff9500;
    transition: .3s;
}

.limpar-abrir-externo {
    display: flex;
    padding: 0 5px;
}

.bt-limpar-historico {
    padding: 3px 0;
    margin: 5px 3px 0 3px;
    width: 250px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: .5s;
    background-color: #ff9500;
    color: #fff;
}

.bt-limpar-historico:hover {
    border: 1px solid #ff9500;
    background-color: unset;
    transition: .5s;
}

.abrir-historico-externo {
    width: 100px;
}

.footer-creditos {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #fff;
    padding: 15px 20px;
    width: 100%;
    background-color: rgb(50, 50, 50);
}
  
.creditos-redes-sociais a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    transition: .3s;
}
  
.creditos-redes-sociais a:hover{
    transition: .3s;
    border-bottom: 2px solid #fff;
}

@media (max-width: 600px) {

    .calculadora {
        border: none;
        margin: 10px 0;
    }

    .historico-calculo-externo {
        width: 295px;
        border-radius: 5px;
    }
}